body {
  width: 100%;
  margin: 0 auto;
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #333;
}

@media (min-width: 760px) {
  body {
    width: 760px;
  }
}

.wrapper {
  padding: 25px 25px 0 25px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 760px) {
  .wrapper {
    margin: 25px 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

h1 {
  margin: 0 0 1.0em 0;
}

h2 {
  margin: 0 0 1.2em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #0073bb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  margin: 2em 0;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  background-color: #fff;
}

tr:nth-of-type(2n + 1) td {
  background-color: #f9f9f9;
}

td, th {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

@media (min-width: 760px) {
  td, th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Don't show the first cell of the header row in the poll table */
table.poll th:first-child {
  background: #fff;
  border: none;
}

/* Bolden the first cell if each row in the poll table */
table.poll td:first-child {
  font-weight: 700;
}

input[type=submit] {
  width: 100%;
  height: 50px;
  margin: 0 0 1em 0;
  background: #0073bb;
  border: none;
  font-size: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #daf2fc;
}

input.inline_button {
width: 25%;
height: 25px;
font-size: 14px;
}

input[type=submit]:hover {
  background: #0068b5;
  color: #f1fbff;
  cursor: pointer;
}

input[type=submit]:active {
  background: #0073bb;
}

input[type=submit]:disabled {
  background: #D5D5D5;
  color: #ffffff;
}

/* Draggable interface */
.container {
  /* height: 280px; */
  width: 100%;
  padding-left: 5% ;
  padding-right: 5% ;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block {
  border:solid 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 40%;
  padding-top: 10px;
  /* height: 250px; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto ;
}

.boxtitle {
  font-weight: bold;
  text-align: center;
  /* color: #0073bb; */
}

.block__list_tags:after {
    clear: both;
    content: '';
    display: block;
}

.block__list {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  /* height: 200px; */
}

.block__list li {
  cursor: move;
  color: #fff;
  float: left;
  margin: 10px 0px 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  /* min-width: 20px; */
  width: 100%;
  background-color: #0073bb;
  text-align: center;
  display: block;
}

.block__list_words .sortable-ghost {
    /* opacity: 0.3; */
    background-color: #fff;
}

.block__list_tags .sortable-ghost {
    /* opacity: 0.3; */
    background-color: #fff;
}

 
.flash {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.flash.error {
  border-left: 3px solid #e72821;
  color: #e72821;
}

.flash.success {
  border-left: 3px solid #2eab41;
  color: #2eab41;
}

.secret-key, .username {
  font-family: Consolas, Menlo, Courier, monospace;
}

.secret-key.standout {
  display: block;
  margin: 15px 0 10px 0;
  text-align: center;
  font-size: 24px;
}

.important {
  font-weight: 700;
}

.meta {
  color: #666;
}

.footer {
  padding: 10px 0 15px 0;
  border-top: 1px solid #ddd;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer li {
  display: inline;
  padding: 0 5px;
}

.footer li:first-child {
  padding-left: 0;
}

/* Allow floats on wider screens */
@media (min-width: 460px) {
  .footer ul {
    text-align: right;
  }

  .footer .left {
    float: left;
  }

  .footer .right {
    float: right;
  }
}

/* Clearfix */
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
