<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Congratulation, your vote was successfully saved</title>
</head>

<body>
<h1>Congratulation, your vote was successfully saved</h1>

<p>The secret code that you will be able to use to check that your vote was
correctly taken into account is {{data.secret_key}}</p>

<p>To see the results click <a href='results'>here</a></p>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Wed Mar 11 23:27:47 CET 2015 <!-- hhmts end -->
</body> </html>
