{% from "_helpers.html" import contact_url %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LHCb Physics Coordinator Election</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/png"  href="{{ url_for('static', filename='img/favicon.png') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1><a href="{{ url_for('root') }}">LHCb Physics Coordinator Election</a></h1>
    {% block body %}{% endblock %}
    <div class="footer cf">
      <ul class="right">
        <li><a href="#">Help</a></li>
        <li><a href="{{ contact_url() }}">Contact</a></li>
        <li><a href="https://login.cern.ch/adfs/ls/?wa=wsignout1.0">Sign out</a></li>
      </ul>
      <div class="left meta">You are signed in as <span class="username">{{ session.user.username }}</span></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
