{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
        (function () {
            var head = document.getElementsByTagName("head")[0];
            if (head) {
                var scriptStyles = document.createElement("link");
                scriptStyles.rel = "stylesheet";
                scriptStyles.type = "text/css";
                scriptStyles.href = "{{ url_for('static', filename='css/script-styles.css') }}";
                head.appendChild(scriptStyles);
            }
        }())
    </script>
{% endblock %}

{% block body %}
  <h2>{{ title }}</h2>
  <p class="hide-with-script">Fill in the table below to order each candidate by your preference. The candidate selected in the first row is your first choice, the candidate selected in the second row is your second, and so on.</p>
  <p class="hide-with-script">Once you have filled in the table, click ‘Vote’. You will be presented with your choices before confirmation.</p>
  <p class="show-with-script">Order each candidate by your preference by dragging them from the right column to the left one (reordering is possible once they are in the left column).</p>
  <p class="show-with-script">Once you have ranked all the candidates, click ‘Vote’. You will be presented with your choices before confirmation.</p>
  <p>You will cast your vote as <span class="important">{{session.user.fullname}}</span>.</p>

  <form action="{{ url_for('confirmVote') }}" method="POST" id="radioPoll">
  <table class="poll hide-with-script">
    <thead>
      <tr>
        <th></th>
        {% for f in fields %}
        <th>{{ '<br/>'.join(f.split(' ')) | safe }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {# We don't care about the list objects in this outer loop #}
      {% for _ in fields %}
      <tr>
        <td>Choice #{{ loop.index }}</td>
        {# Cache outer loop variable so we can use it inside inner loop #}
        {% set outer_loop = loop %}
        {% for field in fields %}
        <td data-column="{{ loop.index }}">
          <input type="radio" name="{{ outer_loop.index }}" value="{{ field }}">
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
  </table>
  <!-- Fancy ordering -->
  	<div id="draggablePoll" style="display: none" class="container show-with-script">
		<div class="block pollblock" style="float: left">
			<div class="boxtitle">Ranking</div>
			<ul id="ranking" class="block__list block__list_words">
			</ul>
		</div>

		<div class="block pollblock" style="float: right">
			<div class="boxtitle">Candidates</div>
			<ul id="pool" class="block__list block__list_tags">
                {% for field in fields %}
                   <li>{{ field }}</li>
                {% endfor %}
			</ul>
		</div>

	</div>

  <input type="submit" value="Vote" id="voteButton"/>
  </form>
  <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/draggable.js') }}"></script>
{% endblock %}
