<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{{ data.question }}</title>
</head>

<body>
<h1>{{ data.question }}</h1>


<p>{{data.Greetings}}</p>

<form action="/poll">
<table>
  <col width="130">
  <!-- <col width="80"> -->
  <tr>
    <td> </td>
    {% for e in data.fields %}
    <td> {{ e }} </td>
    {% endfor %}
  </tr>
  {% for num in data.num_choices %}
  <tr>
    <td>Choice number {{num}}: </td>
    {% for e in data.fields %}
    <td><input type="radio" name="{{num}}" value="{{ e }}"> </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<input type="submit" value="Vote" />
</form>

{{data.retry_str}}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Wed Mar 11 10:13:08 CET 2015 <!-- hhmts end -->
</body> </html>
